<div class="pagination">
{{#if pagination.previous }}
  <a class="paginate outside button" href="/{{removeIndex pagination.previous.path }}"><i class="icon icon-chevron-left"></i> <i class="icon icon-chevron-left"></i></a>
{{ else }}
  <button class="paginate outside button" disabled="disabled"><i class="icon icon-chevron-left"></i> <i class="icon icon-chevron-left"></i></button>
{{/if}}
  <div class="pages">
  {{#each pagination.pages }}
  
    {{#unlessCurrentPage ../path compare=pagination.num }}
      {{#if @first }}
      <a class="paginate button" href="/blog/">{{ pagination.num }}</a>
      {{else}}
      <a class="paginate button" href="/blog/{{ pagination.num }}/">{{ pagination.num }}</a>
      {{/if}}
    {{/unlessCurrentPage}}
    
    {{#ifCurrentPage ../path compare=pagination.num }}
      <button class="paginate current" disabled="disabled">{{ pagination.num }}</button>
    {{/ifCurrentPage}}
  
  {{/each}}
  </div>
{{#if pagination.next }}
  <a class="paginate outside button" href="/{{removeIndex pagination.next.path }}"><i class="icon icon-chevron-right"></i> <i class="icon icon-chevron-right"></i></a>
{{ else }}
  <button class="paginate outside button" disabled="disabled"><i class="icon icon-chevron-right"></i> <i class="icon icon-chevron-right"></i></button>
{{/if}}
</div>