<div class="pagination">
{{#if pagination.previous }}
  <a class="paginate outside button" href="/{{removeIndex pagination.previous.path }}"><i class="icon icon-chevron-left"></i> <i class="icon icon-chevron-left"></i></a>
{{/if}}
  <ul class="nav">
  {{#each pagination.pages }}
    <li class="paginate button">
    {{#unlessCurrentPage ../path compare=pagination.num }}
      {{#if @first }}
      <a href="/blog/">
      {{else}}
      <a href="/blog/{{ pagination.num }}/">
      {{/if}}
    {{/unlessCurrentPage}}
      {{ pagination.num }}
    {{#unlessCurrentPage ../path compare=pagination.num }}
      </a>
    {{/unlessCurrentPage}}
    </li>
  {{/each}}
  </ul>
{{#if pagination.next }}
  <a class="paginate outside button" href="/{{removeIndex pagination.next.path }}"><i class="icon icon-chevron-right"></i> <i class="icon icon-chevron-right"></i></a>
{{/if}}
</div>