<ul class="nav social sharing">
  {{#each site.sharing}}
    <li>
      {{#eq title "Email" }}
      <a target="_blank" class="{{ title }}" href="{{ link }}" title="Share this post on {{ title }}">
        <i class="fa {{ icon }}"></i>
      </a>
      {{else}}
      <a target="_blank" class="{{ title }}" href="{{ link }}{{ ../site.url }}/{{ ../path }}" title="Share this post on {{ title }}">
        <i class="fa {{ icon }}"></i>
      </a>
      {{/eq}}
    </li>
  {{/each}}
</ul>