<ul class="nav social">
  {{#each site.social}}
    <li>
      <a target="_blank" class="{{ this.title }}" href="{{ this.link }}" title="{{ this.title }} {{ this.handle }}">
        <i class="icon {{ this.icon }}"></i>
      </a>
    </li>
  {{/each}}
</ul>