<ul class="nav social">
  {{#each site.social}}
    <li>
      <a target="_blank" class="{{ title }}" href="{{ link }}" title="{{ title }} {{ handle }}">
        <i class="fa {{ icon }}"></i>
      </a>
    </li>
  {{/each}}
</ul>