<div id="about">
  <div class="row">
    <div class="three col">
      <div class="profile"></div>
    </div>
    <div class="nine col">
      <h2>Web is Life</h2>
      <p>I'm a front-end web developer currently working at Tribeswell in Bloomington, Indiana. I'm also the sole developer for a mobile app that you can find in both the <a target="_blank" href="//appstore.com/necterconnectwithgroupsinyourarea">App Store</a> and the <a target="_blank" href="//play.google.com/store/apps/details?id=com.necterinc.gonecter">Play Store</a>! I love making web applications and right now I'm learning more about Meteor and React. If I'm not in front of a computer, you can find me taking long walks and hikes with my dog <a target="_blank" href="//instagram.com/piglet_petit">Kaya</a> or taking mini-vacations to explore the states with my other half. Otherwise, I'm playing video games, watching Netflix, or lurking on Reddit.</p>
      <div class="row">
        <div class="six col">
          <h3>Contact Details</h3>
          <ul>
            {{#each site.social }}
            <li><a target="_blank" href="{{ link }}" title="{{ title }} {{ handle }}"><i class="fa {{ icon }}"></i> {{ title }}</a></li>
            {{/each}}
          </ul>
        </div>

        <div class="six col">
          <a target="_blank" href="{{ site.url }}/assets/David_Carter-resume.pdf" title="Download Résumé" class="button"><i class="fa fa-cloud-download"></i> Download Résumé</a>
        </div>
      </div>
    </div>
  </div>



</div>
