{{> header }}
    <main class="posts">
      <h1>{{ title }}</h1>
      {{#if collections.posts }}
        {{#each pagination.files }}
          <article>
            <div class="post-info">
              <p class="day">{{ moment published format="D" }}</p>
              <p class="month">{{ moment published format="MMM" }}</p>
              <p class="year">{{ moment published format="YYYY" }}</p>
            </div>
            <div class="content">
              <h2><a href="{{ site.url }}/{{ path }}">{{titleize title }}</a></h2>
              {{{ excerpt }}}
              <a class="read-more button" href="{{ site.url }}/{{ path }}">Read More <i class="fa fa-chevron-right"></i></a>
            </div>
          </article>
        {{/each}}

        {{> pagination }}
      {{/if}}
    </main>
{{> footer }}