{{> header }}
    <main class="posts">
      <h1>{{ title }}</h1>
      {{#if collections.posts }}
        {{#each pagination.files }}
          <article>
            <h2><a href="/{{ this.path }}">{{ this.title }}</a></h2>
            {{{ this.excerpt }}}
          </article>
        {{/each}}

        <ul class="nav pagination">
          {{#if pagination.previous }}
            <li><a href="/{{removeIndex pagination.previous.path }}"><i class="icon icon-chevron-left"></i></a></li>
          {{/if}}
          {{#each pagination.pages }}
            <li>
              {{#if @first }}
              <a href="/blog/">
              {{else}}
              <a href="/blog/{{ pagination.num }}/">
              {{/if}}
                {{ pagination.num }}
              </a>
            </li>
          {{/each}}
          {{#if pagination.next }}
            <li><a href="/{{removeIndex pagination.next.path }}"><i class="icon icon-chevron-right"></i></a></li>
          {{/if}}
        </ul>
      {{/if}}
    </main>
{{> footer }}