{{> header }}
    <main class="posts">
      <h1>{{ title }}</h1>
      {{#if collections.posts }}
        {{#each pagination.files }}
          <article>
            <header>
              <h2><a href="/{{ path }}">{{titleize title }}</a></h2>
              <p class="post-info"><i class="icon icon-clock-o"></i> {{ moment published format="MMMM Do, YYYY" }}</p>
            </header>
            {{{ excerpt }}}
            <a class="read-more button" href="/{{ path }}">Read More <i class="icon icon-chevron-right"></i></a>
          </article>
        {{/each}}

        {{> pagination }}
      {{/if}}
    </main>
{{> footer }}