<div id="resume">
  <section id="education">
    <h2>Education</h2>

    <ul class="list">
      {{#each site.education }}
      <li class="row">
        <h3>{{ degree }}</h3>
        <div class="first col">
          <p class="clearfix"><span class="from month">{{ moment dates.from format="MMM" }}</span><span class="from year">{{ moment dates.from format="YYYY" }} - </span><span class="to month">{{ moment dates.to format="MMM" }}</span><span class="to year">{{ moment dates.to format="YYYY" }}</span></p>
        </div>
        <div class="second col">
          <h4>{{ uni }}</h4>
        </div>
      </li>
      {{/each}}
    </ul>
  </section>
  <section id="experience">
    <h2>Experience</h2>

    <ul class="list">
      {{#each site.experience }}
      <li class="row">
          <h3>{{ position }}</h3>
        <div class="first col">
          <p class="clearfix"><span class="from month">{{ moment dates.from format="MMM" }}</span><span class="from year">{{ moment dates.from format="YYYY" }} - </span>{{#eq dates.to "Present"}} <span class="to year">{{ dates.to }}</span> {{ else }} <span class="to month">{{ moment dates.to format="MMM" }}</span><span class="to year">{{ moment dates.to format="YYYY" }}</span>{{/eq}}</p>
        </div>
        <div class="second col">
          <h4>{{ employer }}</h4>
        </div>
        <ul>
          {{#each poi }}
          <li>{{ this }}</li>
          {{/each}}
        </ul>
      </li>
      {{/each}}
    </ul>
  </section>
</div>