<div id="resume">
  <section id="education">
    <h2>Education</h2>

    <ul class="list">
      {{#each site.education }}
      <li class="row">
        <div class="three col">
          <h3>{{ degree }}</h3>
          <p><span class="month">{{ moment dates.from format="MMM" }}</span><span class="year">{{ moment dates.from format="YYYY" }}</span> - <span class="month">{{ moment dates.to format="MMM" }}</span><span class="year">{{ moment dates.to format="YYYY" }}</span></p>
        </div>
        <div class="nine col">
          <h4>{{ uni }} - {{ location }}</h4>
          <ul>
            {{#each poi }}
            <li>{{ this }}</li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/each}}
    </ul>
  </section>
  <section id="experience">
    <h2>Experience</h2>

    <ul class="list">
      {{#each site.experience }}
      <li class="row">
        <div class="three col">
          <h3>{{ employer }}</h3>
          <p><span class="month">{{ moment dates.from format="MMM" }}</span><span class="year">{{ moment dates.from format="YYYY" }}</span> - {{#eq dates.to "Present"}} {{ dates.to }} {{ else }} <span class="month">{{ moment dates.to format="MMM" }}</span><span class="year">{{ moment dates.to format="YYYY" }}</span>{{/eq}}</p>
        </div>
        <div class="nine col">
          <h4>{{ position }} - {{ location }}</h4>
          <ul>
            {{#each poi }}
            <li>{{ this }}</li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/each}}
    </ul>
  </section>
</div>