<div id="portfolio">
  <h2>Projects</h2>

  <ul class="list">
  {{#each site.projects }}
    <li class="project">
      <div class="screenshot" style="background-image: url('/img/{{ screenshot }}');"><a target="_blank" href="//{{ url }}"></a></div>
      <h4 class="info"><span>{{ title }}</span><span>{{ year }}</span></h4>
      <p class="url"><a target="_blank" href="//{{ url }}">{{ url }}</a></p>
      <p class="tags"><i class="icon icon-tag"></i> {{#each tags}}{{ this }}{{#unless @last }}, {{/unless}}{{/each}}</p>
      <p class="descrip">{{ description }}</p>
    </li>
  {{/each}}
  </ul>

  <div class="popup-gallery">
    {{#each site.projects }}
    {{#each gallery }}
    <a href="/img/{{ image }}" title="{{ title }}"><img src="/img/{{ image }}"></a>
    {{/each}}
    {{/each}}
  </div>
</div>